body,
html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url("./images/volunteers-2654004.jpg");

  /* Set a specific height */
  height: 25000px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-family: "Dancing Script", cursive;
  color: #2d3436;
  font-size: 48px;
  padding-top: 10px;
}

.container {
  width: 960px;
  background: #81ecec;
}

.btn-warning {
  background-color: #ffeaa7;
  border-color: #ffeaa7;
  color: #2d3436;
  margin-bottom: 20px;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active {
  background-color: #fdcb6e;
  color: #2d3436;
  border-color: #fdcb6e;
}
#event-vol-span {
  margin-right: 10px;
}
